nav {
    height: 65px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(240, 202, 213);
    align-items: center;
    font-family: "Rubik Bubbles", system-ui; 
     
}
ul {
    display: flex;
    justify-content: space-between;
    gap: 46px;
    align-items: center;
    margin-bottom: 0;
}
ul li {
    list-style: none;
    
}

ul li a{
    color: #e11c47;
    text-decoration: none;
  
}
nav button {
    width: 66px;
    background-color: #ffe0e7;
    border: 3px solid #f6aab6;
    border-radius: 4px;
    height: 33px;
    color: black;
    font-size: 12px;
}
button:hover {
    background-color: #e11c47; 
    border: 3px solid #f6aab6;
    color: white;
}
#myimg{
    filter: blur(7px);
    height: 70%;
    width: 100%;
}
.background-img {
    position: relative;
}
.aboutus {
    position: absolute;
    top:124px;
    left:60px;
    width: 570px;
}
.aboutus h1 {
    font-family: "Rubik Bubbles", system-ui; 
    font-weight: 400;
    font-style: normal;   
    color: #e11c47; 
    font-size: 80px;
    text-align: center;   
}
.aboutus p {
    
        font-family: "Arial", sans-serif;
        color: #333;
        font-size: 20px; 
        text-align: center; 
        margin: 20px auto; 
        max-width: 800px; 
        background-color: rgba(255, 255, 255, 0.5);
        padding: 15px; 
        border-radius: 10px;
    
}
 .slogan {
    position: absolute;
    font-family: 'Rubik Bubbles', sans-serif; 
    font-size: 24px; 
    color: #d1416f; 
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    line-height: 1.5; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    top:607px;
    left:600px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
.order {
position: absolute;
top: 296px;
    left: 859px;
}
.order-now {
    background: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  font-family: 'Rubik Bubbles', sans-serif; 
  width: 169px;
  height: 68px;
}